<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.monitor.weixin.dao.MwWeixinTemplateDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.mw.monitor.weixin.entity.MwWeixinTemplateTable">
        <id column="id" property="id" />
        <result column="template_id" property="templateId" />
        <result column="title" property="title" />
        <result column="primary_industry" property="primaryIndustry" />
        <result column="deputy_industry" property="deputyIndustry" />
        <result column="content" property="content" />
        <result column="example" property="example" />
    </resultMap>


    <sql id="Base_Column_List" >
        "id","template_id","title","content"
    </sql>

    <sql id="tb">
        ${TBSNAME}."mw_wexin_template"
    </sql>

    <select id="selectOne" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ${TBSNAME}."mw_wexin_template"
        where "template_id" = #{templateId}
    </select>

    <select id="selectOneByTemplateName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ${TBSNAME}."mw_wexin_template"
        where "title" = #{templateName}
    </select>


    <delete id="delete" parameterType="java.lang.String">
        delete from ${TBSNAME}."mw_wexin_template"
        where "title" = #{title}
    </delete>

    <insert id="insert" parameterType="cn.mw.monitor.weixin.entity.MwWeixinTemplateTable">
        insert into ${TBSNAME}."mw_wexin_template"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null and templateId !=''">
                "template_id",
            </if>
            <if test="title != null and title !=''">
                "title",
            </if>
            <if test="primaryIndustry != null and primaryIndustry !=''">
                "primary_industry",
            </if>
            <if test="deputyIndustry != null and deputyIndustry !=''">
                "deputy_industry",
            </if>
            <if test="content != null and content !=''">
                "content",
            </if>
            <if test="example != null and example !=''">
                "example"
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null and templateId !=''">
                #{templateId},
            </if>
            <if test="title != null and title !=''">
                #{title},
            </if>
            <if test="primaryIndustry != null and primaryIndustry !=''">
                #{primaryIndustry},
            </if>
            <if test="deputyIndustry != null and deputyIndustry !=''">
                #{deputyIndustry},
            </if>
            <if test="content != null and content !=''">
                #{content},
            </if>
            <if test="example != null and example !=''">
                #{example}
            </if>
        </trim>
    </insert>

    <select id="selectGxActionId" parameterType="java.lang.String" resultType="java.lang.String">
    select
    t1."action_id"  "actioId"
    from ${TBSNAME}."mw_alert_action_assets_mapper" t1
    where t1."assets_id" = #{hostId}
  </select>

    <select id="selectRuleMapper" parameterType="java.lang.String" resultType="cn.mw.monitor.weixin.entity.ActionRule">
    SELECT a."id"  id,a."action_id" "actionId",a."rule_id" "ruleId", b."action_type" "actionType"
    from ${TBSNAME}."mw_alert_action_rule_mapper" a LEFT JOIN ${TBSNAME}."mw_alert_rule" b on a."rule_id"=b."rule_id" and b."state" = 1
    where a."action_id" = #{actionId}
  </select>

    <select id="selectUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    "user_id"  "userId"
    from ${TBSNAME}."mw_alert_action_user_mapper"
    where "action_id" = #{actionId}
  </select>

    <select id="selectLevel" parameterType="java.lang.String" resultType="java.lang.String">
    select
        "severity"
    from ${TBSNAME}."mw_alert_serverity_mapper"
    where "action_id" = #{actionId}
  </select>

    <insert id="insertRecord" parameterType="cn.mw.monitor.weixin.entity.AlertRecordTable" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            select ${TBSNAME}.SEQ_MW_ALERT_RECORD_TABLE.NEXTVAL as "id" from DUAL
        </selectKey>
        insert into ${TBSNAME}."mw_alert_record_table"
          ("id","date","method","text","is_success","hostid","error","title","ip","is_alarm","eventid")
        values (
            #{id},
            #{date}
            ,#{method}
            ,#{text}
            ,#{isSuccess}
            ,#{hostid}
            ,#{error,jdbcType=VARCHAR}
            ,#{title}
            ,#{ip}
            ,#{isAlarm}
            ,#{eventid}
        )
    </insert>

    <insert id="insertRecordUserMapper">
        insert into ${TBSNAME}."mw_alert_record_user_mapper"
        ("id","user_id")

        <foreach collection="userIds" item="item" index="index" separator="union all">
           SELECT #{id,jdbcType=INTEGER},#{item,jdbcType=INTEGER} FROM DUAL
        </foreach>
    </insert>

    <insert id="insertRecordEmailMapper">
        insert into ${TBSNAME}."mw_alert_record_email_mapper"
        ("id","email")
        <foreach collection="emails" item="item" index="index" separator="union all">
            SELECT  #{id,jdbcType=INTEGER},#{item,jdbcType=VARCHAR} FROM DUAL
        </foreach>
    </insert>

    <select id="selectRecord" parameterType="cn.mw.monitor.weixin.entity.AlertRecordTable" resultType="java.lang.Integer">
        select
        count(*)
        from ${TBSNAME}."mw_alert_record_table"
        where "title" = #{title} and  "is_alarm" = #{isAlarm} and "ip" = #{ip} and  "date" > #{date}
    </select>

    <select id="selectEmail" parameterType="java.util.HashSet" resultType="java.lang.String">
        select
        "email"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
    </select>

    <select id="selectEmailBy" resultType="java.lang.String">
        select
        "email"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
        order by DECODE("user_id",
        <foreach collection="list" index="index" item="item" separator=",">
            #{item},#{index}
        </foreach>

        )
    </select>

    <select id="selectPopupAction" resultType="cn.mw.monitor.service.action.param.AddAndUpdateAlertActionParam">
        select
        "action_id" as "actionId",
        "action_name" as "actionName",
        "is_all_assets",
        "is_all_user" as "isAllUser",
        "assets_name",
        "in_band_ip",
        "assets_type_id",
        "assets_type_sub_id",
        "monitor_mode",
        "polling_engine",
        "manufacturer",
        "specifications",
        "state",
        "area",
        "email"
        from ${TBSNAME}."mw_alert_action"
        where "action_id" =#{actionId}
    </select>

    <select id="selectLevelRuleEmailMapper" parameterType="cn.mw.monitor.alert.param.ActionLevelRuleParam" resultType="cn.mw.monitor.alert.param.ActionLevelRuleParam">
        select
        "is_alluser" as "isAllUser",
        "email"
        from ${TBSNAME}."mw_alert_action_level_rule_email_mapper"
        where "action_id" = #{actionId} and "level" = #{level}
    </select>

    <select id="selectQyWeixinUserId" parameterType="java.util.HashSet" resultType="java.lang.String">
        select
        "wechat_id"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
    </select>

    <select id="selectWeixinUserId" parameterType="java.util.HashSet" resultType="java.lang.String">
        select
        "open_id"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
    </select>

    <select id="selectPhones" parameterType="java.util.HashSet" resultType="java.lang.String">
        select
        "phone_number"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
    </select>
    <select id="selectMorePhones" parameterType="java.util.HashSet" resultType="java.lang.String">
        select
        "more_phones"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) and "more_phones" IS NOT NULL and "delete_flag" = 0
    </select>

    <select id="selectassetsType"  resultType="java.lang.String">
    select
    b."type_name" as "assetsType",
    from ${TBSNAME}."mw_tangibleassets_table" a
    left join ${TBSNAME}."mw_assetssubtype_table" b on a."assets_type_id"=b."id"
    where  a."delete_flag"=0 and
    a."assets_id"=#{hostId}
    </select>




    <select id="selectEmailFrom" parameterType="java.lang.String" resultType="cn.mw.monitor.util.entity.EmailFrom">
    select
        "is_ssl" as "isSsl",
        "email_server_address" as "hostName",
        "email_server_port" as "port",
        "email_send_username" as "username",
        "email_send_password" as "password",
        "personal" as "personal",
        "title" as "emailHeaderTitle",
        "logo",
        "url",
        "is_logo" as "isLogo",
        "is_delsuffix" as "isDelsuffix"
    from ${TBSNAME}."mw_alert_email_rule"
    where rownum = 1
    <if test="id != null">
       and "rule_id" = #{id}
    </if>

  </select>

    <select id="selectEmailFromCommon" parameterType="java.lang.String" resultType="cn.mw.monitor.util.entity.EmailFrom">
        select
            "is_ssl" as "isSsl",
            "email_server_address" as "hostName",
            "email_server_port" as "port",
            "email_send_username" as "username",
            "email_send_password" as "password",
            "personal" as "personal",
            "title" as "emailHeaderTitle",
            "logo",
            "url",
            "is_logo" as "isLogo",
            "is_delsuffix" as "isDelsuffix"
        from ${TBSNAME}."mw_alert_email_rule"
        where "rule_id" = #{id}
  </select>

    <select id="selectEmailByNameCommon" parameterType="java.lang.String" resultType="cn.mw.monitor.util.entity.EmailFrom">
        select
            t1."is_ssl" as "isSsl",
            t1."email_server_address" as "hostName",
            t1."email_server_port" as "port",
            t1."email_send_username" as "username",
            t1."email_send_password" as "password",
            t1."personal" as "personal",
            t1."title" as "emailHeaderTitle",
            t1."logo",
            t1."url",
            t1."is_logo" as "isLogo",
            t1."is_delsuffix" as "isDelsuffix"
        from ${TBSNAME}."mw_alert_email_rule" t1, ${TBSNAME}."mw_alert_rule" t2
        where t1."rule_id" = t2."rule_id" and  t2."rule_name" = #{ruleName} and t2."delete_flag" = 0 and  rownum = 1
  </select>

    <select id="findWeiXinMessage" parameterType="java.lang.String" resultType="cn.mw.monitor.util.entity.GeneralMessageEntity">
    select
        "rule_id" as  "ruleId",
        "apply_id" as "id",
        "secret" as "secret",
        "agent_id" as "agentId"
    from ${TBSNAME}."mw_alert_apply_weixin_rule"
        where rownum=1
    <if test="ruleId != null">
        and "rule_id" = #{ruleId}
    </if>

  </select>

    <select id="findShenZhenSmsFrom" parameterType="java.lang.String" resultType="cn.mw.monitor.weixin.entity.MwShenZhenSMSFromEntity">
    select
        "app_id" as  "appID",
        "app_pwd" as "appPWD",
        "biz_class_id" as "bizClassID",
        "biz_type_id" as "bizTypeID",
        "biz_sub_type_id" as "bizSubTypeID",
        "ext_no" as "extNo",
        "is_need_report" as "isNeedReport",
        "cust_id" as "custID",
        "app_sms_code" as "appSMSCode",
        "api_url" as "apiUrl",
        "role_name" as "apiRoleName"
    from ${TBSNAME}."mw_alert_shenzhenSMS_rule"
    where "rule_id" = #{ruleId}
  </select>

    <select id="findWeiXinFrom" parameterType="java.lang.String" resultType="cn.mw.monitor.weixin.entity.WeixinFromEntity">
        select
            "rule_id" as  "ruleId",
            "app_secret" as "secret",
            "agent_id" as "agentId",
            "alert_templeate" as "alertTempleate",
            "recovery_templeate" as "recoveryTempleate"
        from ${TBSNAME}."mw_alert_weixin_rule"
        where "rule_id" = #{ruleId}
  </select>

    <select id="findHuaXingMessage" resultType="cn.mw.monitor.util.entity.HuaXingRuleParam">
        select "rule_id" "ruleId",
            "app_id" "appId",
            "app_key" "appSecret",
            "plugin_id" "pluginId",
            "token" "token",
            "url" "url",
            "sender" "sender",
            "session_type" "sessionType"
        from ${TBSNAME}."mw_alert_huaxing_rule"
        where rownum=1
        <if test="ruleId != null">
            and "rule_id" = #{ruleId}
        </if>
        <if test="ruleId == null">
            and "plugin_id" is not null
        </if>
    </select>

    <select id="findWelinkFrom" parameterType="java.lang.String" resultType="cn.mw.monitor.service.alert.dto.WeLinkRuleParam">
        select
            "rule_id" as  "ruleId",
            "app_id" as "appId",
            "app_secret" as "appSecret",
            "public_accid" as "publicAccId"
        from ${TBSNAME}."mw_alert_welink_rule"
        where "rule_id" = #{ruleId}
  </select>

    <select id="selectRuleById" parameterType="java.lang.String" resultType="cn.mw.monitor.service.alert.dto.AlertRuleTableCommons">
        select
        "rule_id" as "ruleId",
        "rule_name" as "ruleName",
        "rule_desc" as "ruleDesc",
        "action_type"  as "actionType",
        "creator",
        "modifier",
        "create_date" as "createDate" ,
        "modification_date" as "modificationDate",
        "state" as "enable",
        "proxy_ip" as "proxyIp",
        "proxy_port" as "proxyPort",
        "proxy_account" as "proxyAccount",
        "proxy_paaword" as "proxyPassword",
        "proxy_state" as "proxyState"
        from ${TBSNAME}."mw_alert_rule"
        where rownum=1
        <if test="ruleId != null">
            and "rule_id"=#{ruleId}
        </if>

    </select>

    <select id="selectRuleByIdAndType" parameterType="java.lang.String" resultType="cn.mw.monitor.service.alert.dto.AlertRuleTableCommons">
        select
        "rule_id" as "ruleId",
        "rule_name" as "ruleName",
        "rule_desc" as "ruleDesc",
        "action_type"  as "actionType",
        "creator",
        "modifier",
        "create_date" as "createDate" ,
        "modification_date" as "modificationDate",
        "state" as "enable",
        "proxy_ip" as "proxyIp",
        "proxy_port" as "proxyPort",
        "proxy_account" as "proxyAccount",
        "proxy_paaword" as "proxyPassword",
        "proxy_state" as "proxyState"
        from ${TBSNAME}."mw_alert_rule"
        where rownum=1
          and "delete_flag" = 0
          and "state" = 1
        <if test="ruleId != null">
            and "rule_id"=#{ruleId}
        </if>
        <if test="actionType != null">
            and "action_type"=#{actionType}
        </if>
    </select>

    <select id="findDingdingQunMessage" parameterType="java.lang.String" resultType="cn.mw.monitor.weixin.entity.DingdingqunFromEntity">
    select
        "rule_id" as  "ruleId",
        "webhook" as "webHook",
        "keyword" as "keyWord",
        "secret" as "secret"
    from ${TBSNAME}."mw_alert_dingdingqun_rule"
    where "rule_id" = #{ruleId}
  </select>

    <select id="findAliyunSMSMessage" parameterType="java.lang.String" resultType="cn.mw.monitor.weixin.entity.AliyunSmsFromEntity">
    select
        "rule_id" as  "ruleId",
        "signName" as "signName",
        "templateCode" as "templateCode",
        "accessKeyId" as "accessKeyId",
        "accessKeySecret" as "accessKeySecret"
    from ${TBSNAME}."mw_alert_aliyunsms_rule"
    where "rule_id" = #{ruleId}
  </select>

    <insert id="insertOverdue" parameterType="cn.mw.monitor.weixin.entity.MwOverdueTable">
        insert into ${TBSNAME}."mw_alert_overdue_table" ("id","context",
        "con_time",
        "start_time",
        "create_date",
        "modification_date",
        "modifier",
        "is_send",
        "delete_flag")
        select ${TBSNAME}.SEQ_MW_ALERT_OVERDUE_TABLE.NEXTVAL,a.* from(
            <foreach collection="list" item="data" index="index" separator="union all">
                select
                #{data.context},
                #{data.conTime},
                #{data.startTime},
                #{data.createDate},
                #{data.modificationDate,jdbcType=TIMESTAMP},
                #{data.modifier,jdbcType=VARCHAR},
                #{data.isSend},
                #{data.deleteFlag}
                 from dual
            </foreach>
        ) a
    </insert>

    <resultMap id="BaseMap" type="cn.mw.monitor.weixin.entity.MwOverdueTable">
        <id column="id"  property="id"/>
        <result column="context"  property="context"/>
        <result column="con_time"  property="conTime"/>
        <result column="start_time"  property="startTime"/>

        <result column="create_date"  property="createDate"/>
        <result column="modification_date"  property="modificationDate"/>
        <result column="modifier"  property="modifier"/>
        <result column="is_send"  property="isSend"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <sql id="Base_Column_List2">
       "id","context","con_time","start_time","create_date","modification_date","modifier","is_send","delete_flag"
    </sql>

    <sql id="criteria">
        <if test="context != null and context != ''">
            and "context" like CONCAT(CONCAT('%',#{context}),'%')
        </if>
        <if test="conTimeStart != null">
            and "con_time" >= #{conTimeStart}
        </if>
        <if test="conTimeEnd != null">
            and #{conTimeEnd} >= "con_time"
        </if>
        <if test="startTimeStart != null">
            and "start_time" >= #{startTimeStart}
        </if>
        <if test="startTimeEnd != null">
            and #{startTimeEnd} >= "start_time"
        </if>
        <if test="startTimeStart != null">
            and "create_date" >= #{createDateStart}
        </if>
        <if test="startTimeEnd != null">
            and #{createDateEnd} >= "create_date"
        </if>
        <if test="modificationDateStart != null">
            and modification_date >= #{modificationDateStart}
        </if>
        <if test="modificationDateEnd != null">
            and #{modificationDateEnd} >= "modification_date"
        </if>
        <if test="modifier != null and modifier != ''">
            and "modifier" = #{modifier}
        </if>
        <if test="isSend != null ">
            and "is_send" =#{isSend}
        </if>
    </sql>

    <select id="selectList" resultMap="BaseMap">
        select
        <include refid="Base_Column_List2"></include>
        from
        ${TBSNAME}."mw_alert_overdue_table" a1
        where "delete_flag" = 0
        <include refid="criteria"></include>
    </select>


    <update id="deleteBatch" parameterType="java.util.List">
        update  ${TBSNAME}."mw_alert_overdue_table"
        set "delete_flag" = 1
        where "id" in (
        <foreach collection="idList" item="deleteList" separator=",">
            #{deleteList.id}
        </foreach>
        )
    </update>

    <select id="selectOverdue" resultMap="BaseMap">
        select
        <include refid="Base_Column_List2"></include>
        from
        ${TBSNAME}."mw_alert_overdue_table" a1
        where "delete_flag" = 0 and "id" in (
        <foreach collection="ids" item="deleteList" separator=",">
            #{deleteList.value}
        </foreach>
        )
    </select>

    <update id="batUpdate" parameterType="java.util.List">
        <foreach collection="list" item ="updateList" separator=";">
            update ${TBSNAME}."mw_alert_overdue_table"
            set "is_send" = #{updateList.isSend},
            "modifier" = #{updateList.modifier},
            "modification_date" = #{updateList.modificationDate}
            where "id" = #{updateList.id}
        </foreach>
    </update>

    <select id="selectLevelRuleMapper" resultType="cn.mw.monitor.weixin.entity.ActionRule">
        SELECT a."action_id" "actionId",a."rule_id" "ruleId", b."action_type" "actionType"
        from ${TBSNAME}."mw_alert_action_level_rule_mapper" a LEFT JOIN ${TBSNAME}."mw_alert_rule" b on a."rule_id"=b."rule_id" and b."state" = 1
        where a."action_id" = #{actionId,jdbcType=VARCHAR} and a."level" = #{level,jdbcType=INTEGER}
  </select>

    <select id="findTCPFrom" resultType="cn.mw.monitor.util.entity.TCP_UDPFrom">
        select "host" as "host",
               "port" as "port",
               "agreement_type" as "agreementType",
               "algorithm" as "algorithm",
               "key_path" as "path",
               "key_password" as "password"
        from ${TBSNAME}."mw_alert_tcp_udp_rule"
        where "rule_id" = #{ruleId}
    </select>
    <select id="findCaiZhengTingSmsFrom" resultType="cn.mw.monitor.weixin.entity.MwCaiZhengTingSMSFromEntity">
        select "app_id" as "appID",
        "app_key" as "appKey",
        "sign",
        "type",
        "account",
        "password",
        "id",
        "url"
        from ${TBSNAME}."mw_alert_caizhengju_sms_rule"
        where "rule_id" = #{ruleId}
    </select>

    <select id="findAliyunYuYinMessage" resultType="cn.mw.monitor.util.entity.AliYunYuYinlParam">
        select "rule_id" "ruleId",
            "access_key_id" "accessKeyId",
            "access_key_secret" "accessKeySecret",
            "tts_code" "ttsCode",
            "called_show_number" "calledShowNumber"
        from ${TBSNAME}."mw_alert_aliyun_yuyin_rule"
        where "rule_id" = #{ruleId}
    </select>

    <select id="findTengxunSMSMessage" resultType="cn.mw.monitor.util.entity.TengXunSmsFromEntity">
        select "rule_id" "ruleId",
            "sign_name" "signName",
            "secret_id" "secretId",
            "secret_key" "secretKey",
            "template_id" "templateId",
            "app_id" "appId",
            "recovery_template_id" "recoveryTemplateId"
        from ${TBSNAME}."mw_alert_tengxunsms_rule"
        where "rule_id" = #{ruleId}
    </select>

    <select id="findHuaWeiSMSMessage" resultType="cn.mw.monitor.util.entity.HuaWeiSmsFromEntity">
        select "rule_id" "ruleId",
            "app_key" "appKey",
            "app_secret" "appSecret",
            "sender" "sender",
            "template_id" "templateId",
            "sign_name" "signName",
            "recovery_template_id" "recoveryTemplateId"
        from ${TBSNAME}."mw_alert_huaweisms_rule"
        where "rule_id" = #{ruleId}
    </select>

    <select id="selectUserName" parameterType="java.util.HashSet" resultType="cn.mw.monitor.weixin.entity.UserInfo">
        select
        "user_name" as "userName",
        "phone_number" as "phoneNumber"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
    </select>

    <select id="selectUserNameBy" resultType="cn.mw.monitor.weixin.entity.UserInfo">
        select
        "user_name" as "userName",
        "phone_number" as "phoneNumber"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
        order by DECODE("user_id",
        <foreach collection="list" index="index" item="item" separator=",">
            #{item},#{index}
        </foreach>

        )
    </select>

    <select id="selectByUserId" parameterType="java.util.HashSet" resultType="cn.mw.monitor.service.user.model.MWUser">
        select
        "login_name" as "loginName",
        "user_id" as "userId"
        from "mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
    </select>

    <select id="selectLoginName" parameterType="java.util.HashSet" resultType="java.lang.String">
        select
        "login_name"
        from ${TBSNAME}."mw_sys_user"
        where "user_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
    </select>

    <select id="selectLoginNameBywechatId" parameterType="java.util.HashSet" resultType="java.lang.String">
        select
        "login_name"
        from ${TBSNAME}."mw_sys_user"
        where "wechat_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
        ) and "delete_flag" = 0 and "user_state" = 'ACTIVE'
    </select>

    <select id="selectGroupName" parameterType="java.util.HashSet" resultType="java.lang.String">
        select
        "group_name"
        from ${TBSNAME}."mw_group_table"
        where "group_id" in (
        <foreach collection="list" item="item" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
        )
    </select>

    <insert id="insertHuaxingAlertTable" parameterType="cn.mw.monitor.weixin.entity.HuaXingAlertParam">
        insert into ${TBSNAME}."mw_huaxing_alert_table"
        ("starts_at","ends_at","status","severity","alert_name","duration","project_name","ip","alert_type","model_classify","model_system","event_id","create_date")
        values (#{startsAt},#{endsAt},#{status},#{severity},#{alertName},#{duration},#{projectName},#{ip},#{alertType},#{modelClassify},#{modelSystem},#{eventid},sysdate)
    </insert>

    <update id="updateHuaxingAlertTable" parameterType="cn.mw.monitor.weixin.entity.HuaXingAlertParam">
        update ${TBSNAME}."mw_huaxing_alert_table" set
            "ends_at" =  #{endsAt},
            "status" = #{status}
        where "starts_at" = #{startsAt} and "severity" = #{severity} and "ip" = #{ip} and "alert_name" = #{alertName}
    </update>

    <select id="findHuaXingYuyinMessage" resultType="cn.mw.monitor.util.entity.HuaXingYuYinRuleParam">
        select "rule_id" "ruleId",
               "tpl_id" "tplId",
               "app_key" "appKey",
               "url" "url"
        from ${TBSNAME}."mw_alert_huaxing_yuyin_table"
        where "rule_id" = #{ruleId}
    </select>

</mapper>
