<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.monitor.assets.dao.MwAssetsNewFieldDao">

    <insert id="insertAssetsCustomField" useGeneratedKeys="true" keyProperty="colId">
        INSERT INTO `mw_assets_newfield`(`field_name`, `item_name`, `visible`,`type`,`order`) VALUES (#{label},#{prop}, #{visible},#{type},#{orderNumber});
    </insert>

    <update id="updateAssetsCustomField">
        update mw_assets_newfield set field_name = #{label},item_name = #{prop},visible =  #{visible},`order` = #{orderNumber}
        where id = #{colId}
    </update>
    <update id="updateAssetsSysFieldOrder">
        <foreach collection="dtos" item="updateList" separator=";">
            update mw_customcol_table
            set col_id = #{updateList.colId,jdbcType=INTEGER},
            user_id = #{updateList.userId,jdbcType=INTEGER},
            sortable = #{updateList.sortable,jdbcType=BIT},
            width = #{updateList.width,jdbcType=INTEGER},
            visible = #{updateList.visible,jdbcType=BIT},
            order_number = #{updateList.orderNumber,jdbcType=INTEGER},
            delete_flag = #{updateList.deleteFlag,jdbcType=INTEGER}
            where id = #{updateList.customId,jdbcType=INTEGER}
        </foreach>
    </update>
    <update id="updateAssetsCustomFieldOrder">
        <foreach collection="dtos" item="dto" separator=";">
            update mw_assets_newfield set `order` = #{dto.orderNumber} where id = #{dto.colId}
        </foreach>

    </update>

    <delete id="deleteAssetsCustomField">
        delete from mw_assets_newfield where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <select id="selectAssetsCustomField" resultType="cn.mw.monitor.assets.dto.MwAssetsCustomFieldDto">
        select "id" as "colId","field_name" as "label","item_name" as "prop","visible","type","order" as "orderNumber" from ${TBSNAME}."mw_assets_newfield"
    </select>

    <select id="selectAllAssetsLabel" resultType="java.util.Map">
        SELECT DISTINCT
            t1.label_name labelName,
            tagboard labelValue,
            t2.type_id typeId
        FROM
            mw_labelmanage_table t1
            RIGHT JOIN mw_label_mapper t2 ON t1.label_id = t2.label_id
        WHERE
            t2.module_type = 'ASSETS' UNION
        SELECT DISTINCT
            t1.label_name labelName,
            date_tagboard labelValue,
            t2.type_id typeId
        FROM
            mw_labelmanage_table t1
            RIGHT JOIN mw_label_date_mapper t2 ON t1.label_id = t2.label_id
        WHERE
            t2.module_type = 'ASSETS' UNION
        SELECT DISTINCT
            t1.label_name labelName,
            t3.drop_value labelValue,
            t2.type_id typeId
        FROM
            mw_labelmanage_table t1
            RIGHT JOIN mw_label_drop_mapper t2 ON t1.label_id = t2.label_id
            LEFT JOIN mw_dropdown_table t3 ON t2.drop_tagboard = t3.drop_id
        WHERE
            t3.delete_flag = FALSE
            AND t2.module_type = 'ASSETS'
    </select>
    <select id="selectCustomFieldCount" resultType="java.lang.Integer">
        select count(0) from mw_assets_newfield where item_name = #{itemName}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>
    <select id="selectAssetsLabelByLabelName" resultType="java.util.Map">
        SELECT DISTINCT
            t1.label_name labelName,
            tagboard labelValue,
            t2.type_id typeId
        FROM
            mw_labelmanage_table t1
            RIGHT JOIN mw_label_mapper t2 ON t1.label_id = t2.label_id
        WHERE
            t2.module_type = 'ASSETS'
            AND t1.label_name in (
            <foreach collection="labelNames" item="labelName" separator=",">
                #{labelName}
            </foreach>
            )  UNION
        SELECT DISTINCT
            t1.label_name labelName,
            date_tagboard labelValue,
            t2.type_id typeId
        FROM
            mw_labelmanage_table t1
            RIGHT JOIN mw_label_date_mapper t2 ON t1.label_id = t2.label_id
        WHERE
            t2.module_type = 'ASSETS'
            AND t1.label_name in (
            <foreach collection="labelNames" item="labelName" separator=",">
                #{labelName}
            </foreach>
            ) UNION
        SELECT DISTINCT
            t1.label_name labelName,
            t3.drop_value labelValue,
            t2.type_id typeId
        FROM
            mw_labelmanage_table t1
            RIGHT JOIN mw_label_drop_mapper t2 ON t1.label_id = t2.label_id
            LEFT JOIN mw_dropdown_table t3 ON t2.drop_tagboard = t3.drop_id
        WHERE
            t3.delete_flag = FALSE
            AND t2.module_type = 'ASSETS'
            AND t1.label_name in (
            <foreach collection="labelNames" item="labelName" separator=",">
                #{labelName}
            </foreach>
            )
    </select>
</mapper>

