<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.monitor.user.dao.HashTypeDao">

    <select id="selectList" resultType="cn.mw.monitor.user.model.HashType">
        SELECT
            id,
            hash_name hashName,
            impl_class implClass,
            iterations
        FROM mw_hash_type
    </select>

    <select id="selectById" resultType="cn.mw.monitor.user.model.HashType">
        SELECT
            id,
            hash_name hashName,
            impl_class implClass,
            iterations
        FROM mw_hash_type
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>