<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.monitor.user.dao.MwModulePermMapperDao">

    <!-- 清除表数据 -->
    <update id="clearMapper">
        truncate TABLE mw_module_perm_mapper
    </update>

    <!-- 新增模块权限映射信息 -->
    <insert id="insert">
        INSERT INTO mw_module_perm_mapper (
            module_id,
            perm_id
        ) VALUES
        <foreach collection="list" item="list" separator=",">
        (
            #{list.moduleId,jdbcType=INTEGER},
            #{list.permId,jdbcType=INTEGER}
        )
        </foreach>
    </insert>

    <select id="selectList" resultType="cn.mw.monitor.user.model.MwModulePermMapper">
        SELECT
            id,
            moduleId,
            permId,
            url,
            permName
        from view_mw_module_perm
    </select>

</mapper>