<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.monitor.user.dao.MwUserSessionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.mw.monitor.user.model.MwUserSession">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="org_id" property="orgId" />
        <result column="org_name" property="orgName" />
        <result column="login_time" property="loginTime" />
        <result column="logout_time" property="logoutTime" />
        <result column="create_time" property="createTime" />
        <result column="online_time" property="onlineTime" />
    </resultMap>

    <resultMap id="UserSessionDTOResultMap" type="cn.mw.monitor.user.model.UserSessionDTO">
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="org_id" property="orgId" />
        <result column="org_name" property="orgName" />
        <result column="create_time" property="createTime" />
        <result column="total_online_time" property="totalOnlineTime" />
    </resultMap>

    <select id="exportUserOnline" resultMap="UserSessionDTOResultMap">
        SELECT
            user_id,
            user_name,
            org_id,
            org_name,
            create_time,
            SUM(online_time) AS total_online_time
        FROM
            mw_user_session
                ${ew.customSqlSegment}
        GROUP BY
            user_id,
            user_name,
            create_time
        HAVING
            TOTAL_ONLINE_TIME > 0
        ORDER BY
            TOTAL_ONLINE_TIME
    </select>
</mapper>
