<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.monitor.prometheus.dao.PrometheusPropertyDao">

    <sql id="columns">
        NAME
        ,DESCRIPTION
    </sql>

    <select id="getAllPrometheusProperties" resultType="cn.mw.monitor.prometheus.dto.PrometheusPropertyDto">
        select
        <include refid="columns"></include>
        from MW_PROMETHEUS_PROPERTY
    </select>
</mapper>
