<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.monitor.user.dao.MwViewUserControlActionDao">
  <resultMap id="BaseResultMap" type="cn.mw.monitor.user.model.MwViewUserControlAction">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="cond" jdbcType="VARCHAR" property="cond" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
  </resultMap>

  <sql id="Base_Column_List">
    "user_id", "login_name", "cond", "operation"
  </sql>

  <sql id="tb">
    ${TBSNAME}."view_user_control_action"
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from <include refid="tb" />
    where "user_id" = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectList" resultType="cn.mw.monitor.user.model.MwViewUserControlAction" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from <include refid="tb"/>
  </select>


</mapper>